body {
  background-color: darkcyan;
}

.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Palette {
  display: "flex";
  /* border: 1px solid black; */
  width: 156px;
  margin: 10px;
  /* margin-top: 10px; */
}

.CenterPanel {
  margin-top: 50px;
}

.tcanvas {
  margin: 10px;
  border: 1px solid black;
}

.Palettes {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: burlywood;
}

.CharacterSelection {
  margin-top: 5px;
  width: 50px;
}

.CharacterChoices {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.RHSPanel {
  margin: 10px;
}

.LHSPanel {
  width: 200px;
}

.AppTitle {
  margin-top: 100px;
}

.LHSPanelContainer {
  margin: 10px;
}

.ButtonColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
}

.ControlButton {
  width: 150px;
  margin-top: 5px;
}

.ScrollPanel {
  display: flex;
  margin-top: 10px;
}

.MirrorPanel {
  display: flex;
  margin-top: 10px;
}

.ScrollButton {
  max-width: 35px;
  border: 1px solid red;
}

.Clickable {
  cursor: pointer;
}
