.App {
 /* display: flex; */
  flex-direction: row;
  text-align: center;
}

.Palette {
  display: "flex";
  border: 1px solid black;
  width: 128px;
  background-color: tomato;
}

.tcanvas {
  border: 1px solid black;
}
